@model IEnumerable<CursoAspNet.Web.ViewModels.ItemViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Items Management</h1>
<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Item" asp-action="CreateOrEdit">New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Policy</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
        <tr scope="row">
            <td>@item.Citm</td>
            <td>@item.Ditm</td>
            <td>@item.Qtdp</td>
            <td>@item.Poor</td>
            <td><a href="/Item/CreateOrEdit/@item.Id" class="btn">Edit</a></td>
        </tr>
        }
    </tbody>
</table>

